/*
Colors used:
Primary Color (dark): rgb(36, 8, 49);
Secondary Color (beige): rgb(229, 215, 190);
Secondary Color (light): rgb(254, 239, 222);
*/

body {
  background-color: #ffffff;
  font-family: 'Noto-sans JP', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 400; /* Sets the font weight to 400 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #0E0314;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 1.85em;
  font-weight: 700;
}

h3 {
  font-size: 1.35em;
  font-weight: 700;
}
h4 {
  font-size: 1.20em;
  font-weight: 500;
}
img {
  width: 100%;
}
a {
  color: #4120A9;
  text-decoration: none; /* No underlining */
}
a:visited { /* visited link */
  color: #4120A9;
}
a:active { /* selected link */
  color: #A16AE8;
}
a:hover,
a:focus {
  color: #A1A9FE;
  text-decoration: underline;
}
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #240831;
  color: #ffffff !important; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #240831; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover,
.button:focus,
.button:active {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button.contact {
  background-color: transparent;
  color: #4120A9 !important;
  border: 2px solid #4120A9;
}
.button.contact:hover,
.button.contact:focus,
.button.contact:active {
  background-color: #4120A9;
  color: #ffffff !important;
}
