/*
Colors used:
Primary Color (dark): rgb(36, 8, 49);
Secondary Color (beige): rgb(229, 215, 190);
Secondary Color (light): rgb(254, 239, 222);
*/
* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-family: 'Noto-sans JP', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 400 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #0E0314;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.25em;
  font-weight: 500;
  text-align: center;
}

h2 {
  font-size: 1.50em;
  font-weight: 700;
}

h3 {
  font-size: 1.35em;
  font-weight: 700;
}
h4 {
  font-size: 1.20em;
  font-weight: 500;
}
img {
  width: 100%;
}
#contact {
  background-color: #edecfe;
  margin: 0 auto;
  text-align:center;
  padding-bottom: 30px;
}
a {
  color: #82807F;
  text-decoration: none; /* No underlining */
}
a:visited { /* visited link */
  color: #82807F;
}
a:active { /* selected link */
  color: #0E0314;
}
a:hover,
a:focus {
  color: #0E0314;
  text-decoration: underline;
}
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #240831;
  color: #ffffff !important; /* needed to override the default link color */
  font-weight: 400;
  font-size: 0.85em;
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
  border-bottom: 2px solid #240831; /* width of the border, type, color */
  transition: opacity 0.2s, background-color 0.3s;
}
.button:hover,
.button:focus,
.button:active {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button.contact {
  background-color: transparent;
  color: #0E0314 !important;
  border: 2px solid #0E0314;
  margin: auto;
}
.button.contact:hover,
.button.contact:focus,
.button.contact:active {
  background-color: #0E0314;
  color: #ffffff !important;
  opacity: 1 !important;
}
.image {
  width: 300px; /* Sets my profile picture to 200px */
}
.image.contact {
  width: 40px; /* Defines linkedin logo */
}
.name {
  font-weight: 700;
  font-size: 1.25em;
  color: #000000 !important;
}
.copyright {
  font-size: 0.7em;
  }
/* Layout styling general*/
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
#work .row {
  padding-bottom: 25px;
}
#h1 h1 {
  text-align: center; /* Centers text */
}
header {
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  font-weight: 400;
  color: #82807F;
  cursor: pointer;
}
nav > ul > li > a:visited {
color: #82807F;
}
nav > ul > li > a:hover {
color: #0E0314;
text-decoration: underline;
}
nav > ul > li > a:focus {
color: #0E0314;
text-decoration: underline;
}
nav > ul > li > a:active {
color: #0E0314;
}
#hero {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 40px;
  display: inline-block;
  text-align:center;
  width: 100%
}
main {
  padding-top: 133px;
}
footer {
  padding-top: 10px;
}
.center {
  text-align: center;
}
/* Layout styling about page */
#about-section {
  max-width: 1000px;
  margin: 0 auto;
    }
#about-page h2 {
  text-align: center;
  }
#about-section {
  text-align: center;
  }
.column-skills ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
    }
.story {
  padding-bottom: 20px;
    }
.skills {
  padding-top: 20px;
    }
/* Layout styling Projects page */
#aida-page h2 {
  text-align: center;
  }

/* Layout styling Index page */
.case {
  background-color: #B5E0D6;
  display: flex;
  align-items: center;
}

/* CSS animation */
  /* Animation: sun */
@keyframes circle-moves {
 from {
   transform: rotateZ(0deg);
   }
   to {
     transform: rotateZ(360deg);
     }
     }
  #rays {
    animation: circle-moves 20s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
    }
@keyframes sun-shrinks {
  from {
      transform: scale(1);
}
  to {
    transform: scale(0.4);
  }
  }
  #center-circle {
  animation: sun-shrinks 8s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
    }
    /* Animation: mountain */
@keyframes sun-move {
      from {transform: translateY(0px);}
      to {transform: translateY(80px);}
      }
#sunmountain {
  animation: sun-move 8s infinite alternate linear;
    }

  /* Animation: Top and Bottom borders go out in nav */
.navigation a:before,
.navigation a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

.navigation a:before
{
  top: 0px;
  transform: translateY(10px);
  }

.navigation a:after
{
  bottom: 0px;
  transform: translateY(-10px);
  }

  .navigation a:hover:before,
  .navigation a:hover:after
{
  opacity: 1;
  transform: translateY(0px);
  }



/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
header {
text-align: unset;
padding: 30px 0 13px;
}
nav {
  width: auto;
  float:right;
}
main {
  padding-top: 99px;
}
body {
  font-size: 18px;
}
#hero span {
  display: block;
}
.col-md-6 {
  width: 50%;
}
.col-md-4 {
  width: 33.33%;
  }
[class*="col-"] {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
#about-page h3 {
  margin-top: 0;
}
}/* end of medium device */
/* ==============================

Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
.col-lg-4 {
  width: 33.33%;
  }
.col-lg-5 {
  width: 41.66%;
}
.col-lg-6 {
  width: 50%;
}
.col-lg-7 {
  width: 58.33%;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right:auto;
}
}/* end of large device */
