/*
Colors used:
Primary Color (dark): rgb(36, 8, 49);
Secondary Color (beige): rgb(229, 215, 190);
Secondary Color (light): rgb(254, 239, 222);
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Noto-sans JP', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 400 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #0E0314;
}

h1 {
  line-height: 1.3;


}
#aida h1 {
  line-height: 2.5;
}

h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 1.80em;
  font-weight: 500;
  text-align: center;
  color: white;
}

h2 {
  font-size: 1.60em;
  font-weight: 300;
}

h3 {
  font-size: 1.40em;
  font-weight: 300;
}

h4 {
  font-size: 1.20em;
  font-weight: 500;
}

img {
  width: 100%;
}

.highlight {
  background: linear-gradient(180deg,rgba(255,255,255,0) 60%, #30FC9E 50%);

}

#contact {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
  border-top: 2px solid #0E0314;
}

.blue {
  color: #4A44F2;
  font-weight: bolder;
}

a {
  color: #4A44F2;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #4A44F2;
}

a:active {
  /* selected link */
  color: #0E0314;
}

a:hover,
a:focus {
  color: #0E0314;
  text-decoration: underline;
}

.button {
  display: inline-block;
  background-color: #4A44F2;
  color: #ffffff !important;
  /* needed to override the default link color */
  font-weight: 500;
  font-size: 0.85em;
  padding: 10px 10px 10px 10px;
  border-radius: 30px;
  transition: opacity 0.2s, background-color 0.3s;
}

.button:hover,
.button:focus,
.button:active {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
#aida .button {
  background-color: #7B3Fb0;
  }

.image.contact {
  width: 50px;
  /* Defines linkedin and email logo */
}

.copyright {
  font-size: 0.7em;
}

/* Layout styling general*/
.container {
  padding: 0 15px;  /* 0px top and bottom, 15 left and right */
  margin-left: 20px;
  margin-right: 20px;
}

.logo {
  width: 70px;
}

.row {
  margin: 50px 0;
  padding: 10px 0;
  /* 10px top and bottom, 0 left and right */
}

#h1 h1 {
  text-align: center;
}

header {
  background-color: #ffffff;
  padding: 5px 0 5px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 15px;
  font-weight: 400;
  color: #0E0314 !important;
  cursor: pointer;
  font-size: 0.85em;
  text-transform: uppercase;
}

nav>ul>li>a:visited {
  color: #0E0314 !important;
}

nav>ul>li>a:hover {
  color: #4A44F2 !important;
  text-decoration: underline;
}

nav>ul>li>a:focus {
  color: #4A44F2 !important;
  text-decoration: underline;
}

nav>ul>li>a:active {
  color: #4A44F2 !important;
}

main {
  padding-top: 70px;
  padding-right: 0px;
  padding-left: 0px;
}

#hero {
  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  display: inline-block;
  text-align: center;
  background-color: #83FFAD; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #83FFAD, #4A44E9);
  width: 100%;
}

footer {
  padding-top: 10px;
}

.center {
  text-align: center;
  display: block;
}
.section {
  padding: 5px;
  text-align: center;
}

.case-header h1 {
  color: #ffffff;
  text-align: left;
  padding-top: 50px;
  padding-bottom: 50px;
}

.white-text {
  color: #ffffff;
}
.grey-background {
background-color: #E0DFDF;
}

.highlights {
  font-size: 24px;
  padding: 60px;
}


/* Layout styling about page */
#about-section {
  max-width: 1000px;
  margin: 0 auto;
}

.column-skills ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.story {
  padding-top: 30px;
  padding-bottom: 0;
}


#about-page .row {
  margin: 0;
  padding: 0 10px 0;
}

#about-page h2 {
  margin: 10px;
}

.no-italics {
  font-style: normal;
  font-weight: 500;
}

/* Layout styling MieterEngel page */
#mieterengel .section {
  background-color: #228288;
}

#mieterengel .case-header {
  background-color: #228288;
}

#mieterengel h3 {
  color: #228288;
  }

#mieterengel h2 {
    color: #ffffff;
    }

/* Layout styling Aida page */
#aida .section {
  background-color: #E5D9EF;
}

#aida h3 {
  color: #7B3FB0;
  }

#aida .case-header {
background-color: #6AC1AC
}
.aida-lila-background {
background-color: #E5D9EF;
}
.aida-green-background {
background-color: #E1F3EE;
}
.insights {
max-width: 300px;
margin: auto;
}
.smaller-image {
max-width: 600px;
margin: auto;
}

/* Layout styling slavefreetrade */
#slavefreetrade .case-header {
  background-color: #2CAAE2;
}

#slavefreetrade .section {
  background-color: #2CAAE2;
}
/* Layout styling libertas */
#libertas .case-header {
  background-color: #FDE3E1;
}

#libertas .section {
  background-color: #FDE3E1;
}
#libertas h1 {
 color: #1A4074;
}
#libertas  h2 {
 color: #1A4074;
}
#libertas h3 {
color: #1A4074;
}
/* Layout styling portfolio*/
#portfolio .case-header {
  background-color: #4120A9;
}
#portfolio .section {
  background-color: #4120A9;
}
#slavefreetrade h3 {
color: #103F75;
}

/* Layout styling Index page */
.flexbox {
  display: flex;
  align-items: center;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding-right: 50px;
  padding-left: 50px;
}
.margin-bottom {
  margin-bottom: 30px;
}


/* Hamburger menu */
.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  padding-right: 0;
  top: 2px;
  font-size: 30px;
}

.navtoggle.responsive nav {
  padding: 0px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

/* CSS transition image shrinks when hover*/
.shrink {
  transition: 0.3s ease;
}

.shrink:hover {
  transform: scale(0.9);
}

/* CSS animation */
/* Animation: sun */
@keyframes circle-moves {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

#rays {
  animation: circle-moves 20s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes sun-shrinks {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.4);
  }
}

#center-circle {
  animation: sun-shrinks 8s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

/* Animation: mountain */
@keyframes sun-move {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(80px);
  }
}

#sunmountain {
  animation: sun-move 8s infinite alternate linear;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding-top: 5px;
  }

  h1 {
    font-size: 2.60em;
    font-weight: 500;
    margin-bottom: 0;
  }

  h2 {
    font-size: 2.75em;
    font-weight: 500;
  }

  h3 {
    font-size: 1.75em;
    font-weight: 500;
    margin: 0;
    padding-top: 10px;
  }

  h4 {
    font-size: 1.40em;
    font-weight: 500;
    margin-bottom: 0;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav>ul {
    margin: 1em 0;
  }

  nav>ul>li {
    display: inline-block;
    /* makes nav items side by side */
  }

  main {
    padding-top: 50px;
  }

  body {
    font-size: 16px;
  }

  .sketch {
    max-width: 400px;
    margin: auto;
  }

  #hero {
    padding-top: 120px;
    padding-bottom: 120px;
    margin-bottom: 80px;
  }

  .image.profile {
    width: 600px;
  }

  #about-page main {
    padding-top: 150px;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col-md-4 {
    width: 33.33%;
  }

    .col-md-12 {
      width: 100%;
    }

  .col-md-2 {
    width: 16.66%;
  }

  [class*="col-"] {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about-page h3 {
    margin: 0;
  }

  #about-page h2 {
    font-size: 2.25em;
    font-weight: 500;
  }

  #index h2 {
    font-size: 1.5em;
    font-weight: 300;
  }

  .flex {
    display: flex;
    align-items: center;
    padding: 0;
  }

  .button {
    font-size: 0.95em;
    padding: 10px 30px 10px 30px;
  }

  .row {
    margin-top: 0;
  }

  .case-header {
    padding-bottom: 60px;
    padding-top: 60px;
  }
  .row.header {
    width: 90%;
    margin: auto;
    }

  .navtoggle li:not(:last-child) {
    /* makes nav items visible on not-mobile screns */
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
    /* hides hamburger menu */
  }

  /* end of medium device */
  /* ==============================

Large devices (1024px or larger)
================================= */
  @media only screen and (min-width: 1024px) {
    .col-lg-4 {
      width: 33.33%;
    }

    .col-lg-5 {
      width: 41.66%;
    }

    .col-lg-6 {
      width: 50%;
    }

    .col-lg-7 {
      width: 58.33%;
    }

    .col-lg-2 {
      width: 16.66%;
    }

    .col-lg-8 {
      width: 66.66%;
    }
    .col-lg-12 {
      width: 100%;
    }

    .container {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }

    .image-container {
      max-width: 900px;
      margin: auto;
    }

    .row {
      padding: 10px 0;
      /* 20px top and bottom, 0 left and right */
    }

    #about-page [class*="col-"] {
      padding-right: 35px;
      padding-left: 35px;
    }

    .image.profile {
      width: 800px;
    }

    .case-name {
      font-size: 1.5em;
      font-weight: 700;
    }

    .narrow {
      max-width: 900px;
      margin: auto;
    }

    .narrow-index {
      max-width: 1100px;
      margin: auto;
    }
    .margin-bottom {
      margin-bottom: 30px;
    }
    .margin-bottom-double {
      margin-bottom: 60px;
    }
  }
}


/* end of large device */
